# Airflow
AIRFLOW_HOME=/home/nander/repos/airflow
AIRFLOW__CORE__DAGS_FOLDER=$AIRFLOW_HOME/dags
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__PLUGINS_FOLDER=$AIRFLOW_HOME/plugins
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////home/nander/repos/airflow/airflow.db

# Ollama service
OLLAMA_HOST=http://ollama-lb.gobble.svc.cluster.local:11434

# News Sentiment
NOS_BASE_URL=https://nos.nl
SENTIMENT_MODEL=gemma2:2b

# Database (for Kubernetes deployment, provided via GitHub Secret AIRFLOW_DATABASE_URL)
# AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////home/airflow/airflow.db
# Or for PostgreSQL:
# AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql://airflow:password@postgres.postgresql.svc.cluster.local:5432/postgres
